doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ../styles/style.css
        title NasaApi
    body 
        h1=msj
        each val in getId
            form(method='post', action='delete')
                .usersBox
                    label(for=val)=name[sumador++]
                    a(href=`/edit/${val}`, class='nose') Edit
                    input(type='hidden', value=val, name='id')
                    input(type='submit', class='nose', value='Delete', id=val)